Django==1.10.3
Pillow==3.4.2
dj-database-url==0.4.1
django-extensions==1.7.4
django-model-utils==2.6
djangorestframework==3.5.3
django-filter
django-post_office==2.0.8
django-cors-headers==1.1.0
django-dbsettings==0.9.1

psycopg2==2.6.2
requests==2.11.1
requests-toolbelt==0.7.0
six==1.10.0
wsgiref==0.1.2
apscheduler==3.0.5
rq==0.6.0
redis==2.10.5
django-rq==0.9.1
tablib==0.11.2
django-storages==1.5.0
boto==2.42.0
django-templateaddons==0.1
fpdf==1.7.2
Wand==0.4.4

# needed for heroku.  using whitenoise for serving static files
gunicorn==19.3.0
whitenoise==2.0.6